@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
    margin:0;

    display: flex;
    flex-direction:column;
}

header.navbar-container {
    max-width: 1500px;
    width: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 5px 1px #4d4d4d;
    
    padding-block: .5rem;
    z-index: 999;
   }
    
   header.navbar-container .logo img {
    width: 150px;
   }

   header.navbar-container .nav-list ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 2rem 1rem;
  }
   
  header.navbar-container .nav-list li {
    list-style-type: none;
  }
   
  header.navbar-container .nav-list li a {
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
    color: black;
    padding: .5rem 1.5rem;
    border-radius: 999px;
    transition: all .2s ease-in-out;
  }
   
  header.navbar-container .nav-list li:hover a {
    background-color: #425c77;
    color: white;
  }

  header.navbar-container .nav-list li button {
    padding: .2rem 1rem;
    margin-block-start: -1em;
    font-weight: 500;
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    color: white;
   
    border: 3px solid transparent;
    border-radius: 999px;
    background-color: #F47458;
    cursor: pointer;
    transition: all .15s ease-in;
  }

  header.navbar-container .nav-list li button:hover {
    border: 3px solid #F47458;
    color: #F47458;
    background-color: transparent;
  }

  main {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    flex: 1;
   
    display: flex;
    align-items: center;
  }

  main .content {
    flex: 1;
    display: flex;
    align-items: center;
    z-index: 1;
    padding: 2rem 4rem;
  }
   
  main .content .content-description {
    flex: 1 1;
  }
   
  main .content .content-description .title {
    font-size: 2.5rem;
    margin-block: 1rem;
  }
   
  main .content .content-description p {
    line-height: 2rem;
    font-weight: 500;
    font-size: 1.8rem;
  }
   
  main .content .content-description button {
    padding: .6rem 2rem;
    margin-block-start: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    color: white;
   
    border: 3px solid transparent;
    border-radius: 999px;
    background-color: #F47458;
    cursor: pointer;
    transition: all .15s ease-in;
  }
   
  main .content .content-description button:hover {
    border: 3px solid #F47458;
    color: #F47458;
    background-color: transparent;
  }
   
  main .content .content-image {
    flex: 1;
    display: flex;
    
  }
   
  main .content .content-image img {
    margin: auto;
    min-width: 250px;
    width: 650px;
  }

  main aside {
    position: fixed;
    inset-block: 0;
    inset-inline-end: 0;
  }
   
  main aside .social-media {
    height: 100%;
    display: flex;
  }
   
  main aside .social-media ul {
    padding: 1.5rem 1rem;
    margin: auto;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: #F47458;
   
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }
   
  main aside .social-media li {
    list-style-type: none;
  }

  main aside .social-media li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    transition: all .1s ease-in-out;
  }
   
  main aside .social-media li a:hover {
    color: #89b0d9;
  }

  main .container .section {
    background-color: #FAF6F5;
    /* margin: auto; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  main .container .cards{
    margin-block-start: -6em;
    display: inline-flex;
    padding: 2rem 4rem;
    
  }
  main .container .card {
    background-color: white;
    z-index: 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    padding: 1.5rem 1rem;
    width: 35%;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin-inline: .5rem;
    text-align: center;
  }

  main .container .card img {
    margin: 0 auto;
    min-width: 60px;
    width: 125px;

  }

  main .container .section article {
    padding: 2rem 5rem;
    column-count: 2;
  
  }

  main .container .section article p {
    font-size: 1rem;
  }
  main .container .section article button {
    padding: .3rem 1rem;
    margin-block-start: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    color: white;
   
    border: 3px solid transparent;
    border-radius: 999px;
    background-color: #5DA98F;
    cursor: pointer;
    transition: all .15s ease-in;
  }

  main .container .section article img {
    margin: 0 auto;
    width: 100%;
    border-radius: 5px;
    
  }

  #new {
    /* padding: .2rem 1rem; */
    text-align: center;
  }

  #new .card{
    border-radius: 10px;
    column-count: 2;
    display: inline-flex;
    margin: 1rem;
    background-color: #FAF6F5;
  }

  #new .card img{
    padding: 1rem;
    background-color: #F47458;
    border-radius: 999px;
    width: 20px;
    margin-block-start: -25rem;
  }

  #new button {
    padding: .3rem 1rem;
    margin-block-start: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    color: white;
   
    border: 3px solid transparent;
    border-radius: 20px;
    background-color: #5DA98F;
    cursor: pointer;
    transition: all .15s ease-in;
  }

